.getintouch {
        width: 90%;
    }
.col-margin {
    margin: 25px 0;
  }
#social
{
	margin-left:35%;
}
.emailbutton
{
	margin-left:25%;padding-bottom:1.2%;
}
.service
{
	margin-left:25%;
}
.m_bottom
{
	margin-bottom: 10%;
}
#servicesimg
{
	margin-left:18.6%;
}
#news
{
	margin-left:10%;
}
.map
{
	height:300px;width:150px;
}
#menumob
{
	background:#000000;
	color:#ffffff;
}