.getintouch {
        width: 39%;
    }
#social
{
	margin-left:50px;
}
.emailbutton
{
	margin-left:35%;padding-bottom:1.2%;
}
#servicesimg
{
	margin-left:18.6%;
}
.write
{
	margin-left:250px;
}
.contactform
{
	margin-left:200px;
}
.map
{
	margin-left:20%;
	height:300px;width:400px;
}