.getintouch {
        width: 39%;
    }
#social
{
	margin-left:50px;
}
.emailbutton
{
	margin-left:35%;padding-bottom:1.2%;
}
#servicesimg
{
	margin-left:18.6%;
}
.emailbtn {
    text-decoration: none;
    display: block;
    width: 170px;
    padding-left: 10px;
    padding-top: 5px;
    transition: all ease 0.5s;
}
.contactform
{
	margin-left:200px;
}
.map
{
	margin-left:20%;
	height:300px;width:400px;
}
.write
{
	margin-left:250px;
}
#coming
{
	margin-left:180px;
}